/* Custom styles */
.progress-bar-fill {
    transition: width 0.5s ease;
  }
  
/* Elixir Icon Styles */
.progress-icon {
    background-image: url('./icons/elixir-removebg-preview.png'); /* Update path if needed */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
  }
  
  
  
  