body{
    background-color: palevioletred;
}

h1{
    color: azure;
    text-align: center;
}
h2{
    color: azure;
    text-align: center;
}
h2{
    font-family:  monospace;
}
div{
    width: 50%;
    margin-left: 25%;
}
#image{
    width: 100%;
}